.center {
    margin: 0 auto;
}

.pet {
    width: 5.56rem;
    margin: .97rem auto 0;

}

.pet-header {
    width: 5.56rem;
    background-color: #e11423;
    -webkit-border-radius: .50rem .50rem 0 0;
    border-radius: .50rem .50rem 0 0;
    overflow: hidden;
}

.pet-header-top {
    width: 5.56rem;
    overflow: hidden;
}

.pet-header-top-x {
    height: 1.60rem;
}

.pet-header-top1 {
    position: relative;
    top: -.20rem;
}

.pet-header-top1, .pet-header-top1:before {
    width: 5.56rem;
    height: 1.80rem;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    background-color: #a7040a;
}

.pet-header-top1:before {
    content: '';
    width: 5.80rem;
    height: 2.60rem;
    position: absolute;
    background-color: #e11423;
    top: -1.00rem;
    left: -.12rem;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.pet-header-moneys {
    margin-top: -.50rem;
    width: 1.26rem;
    height: .80rem;
    position: relative;
}

.pet-header-money1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.26rem;
    height: 1.26rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffb41f;
}

.pet-header-money2 {
    position: absolute;
    top: .08rem;
    left: .08rem;
    width: 1.10rem;
    height: 1.10rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffde1d;
}

.pet-header-money-cr {
    padding-top: .25rem;
}

.pet-header-money-x {
    width: .30rem;
    height: .25rem;
    position: relative;
}

.pet-header-money-y {
    width: .30rem;
    height: .10rem;
    border: solid #e11423;
    border-width: .06rem 0;
}

.pet-header-money-o {
    width: .06rem;
    height: .30rem;
    background-color: #e11423;
}

.pet-header-money3, .pet-header-money4 {
    position: absolute;
    top: 0;
    left: 0;
    width: .30rem;
    height: .05rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e11423;
}

.pet-header-money3 {
    -webkit-transform: rotate(56deg);
    transform: rotate(56deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.pet-header-money4 {
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
    transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
}

.pet-header-eyes {
    padding: 0 .50rem;
}

.pet-header-eye {
    width: 1.26rem;
    height: 1.26rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #010000;
    position: relative;
    overflow: hidden;
}

.pet-header-eye-greys, .pet-header-eye-whites {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pet-header-eye-grey {
    width: 1.00rem;
    height: 1.00rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #874c00;
    position: absolute;
    left: 50%;
    margin-left: -.50rem;
    bottom: .13rem;
}

.pet-header-eye-black {
    width: 1.40rem;
    height: 1.40rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #010000;
    position: absolute;
    bottom: .25rem;
    left: 50%;
    margin-left: -.70rem;
}

.pet-header-eye-white1 {
    position: absolute;
    top: .25rem;
    left: .15rem;
    width: .60rem;
    height: .60rem;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pet-header-eye-white11 {
    position: absolute;
    top: .25rem;
    right: .15rem;
    width: .60rem;
    height: .60rem;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pet-header-eye-white2 {
    position: absolute;
    top: .35rem;
    right: .18rem;
    width: .30rem;
    height: .30rem;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pet-header-eye-white21 {
    position: absolute;
    top: .35rem;
    left: .18rem;
    width: .30rem;
    height: .30rem;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pet-header-eye-white3 {
    position: absolute;
    top: .70rem;
    right: .34rem;
    width: .22rem;
    height: .22rem;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pet-header-eye-white31 {
    position: absolute;
    top: .70rem;
    left: .34rem;
    width: .22rem;
    height: .22rem;
    background-color: white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pet-header-mouses {
    width: 2.00rem;
    height: .82rem;
    position: relative;
    top: -.45rem;
    overflow: hidden;
}

.pet-header-mouse1 {
    height: .74rem;
    width: 2.00rem;
    transform: rotate(90deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
    -webkit-border-radius: 0 50% 50% 0;
    border-radius: 0 50% 50% 0;
    background-color: white;
    position: relative;
    top: -.56rem;
}

.pet-header-mouse2 {
    position: absolute;
    top: -.52rem;
    left: 50%;
    margin-left: -.60rem;
    width: 1.20rem;
    height: .59rem;
    background-color: #e11423;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;

}

.pet-header-faces {
    margin-top: -.45rem;
}

.pet-header-face {
    width: 1.10rem;
    height: .25rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #f05661;
}

.pet-body {
    width: 5.56rem;
    height: 2.40rem;
    overflow: hidden;
}

.pet-body1, .pet-body1:before {
    position: relative;
    width: 5.56rem;
    height: 3.00rem;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    background-color: #ca1020;
    top: -.60rem;
}

.pet-body1:before {
    content: '';
    position: absolute;
    top: 0;
    background-color: #e11423;
    height: 2.50rem;
}