/**
common.css
*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

img {
    border: none;
    vertical-align: top;
}

a {
    color: #333;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

textarea {
    resize: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
}

body {
    font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

body, html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    -webkit-user-select: none;
    user-select: none;
}